<mat-card  elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>New Home</h2>
    </mat-card-title>

    <mat-card-content >
        <form id="new-home-form" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
            <mat-form-field>
                <label>Name: </label>
                <input formControlName="name" matInput required>
            </mat-form-field>


            <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Create</button>
            <br>
            <button color="primary" mat-raised-button (click) = "this.router.navigate(['admin-homes-table'])" >Go Back</button>
        </form>
        
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
        <br>
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
        <br>
        <hr>
    </mat-card-content>
    
</mat-card>