<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/bootstrap.min.css}">
<script th:src="@{/bootstrap.min.js}"></script>
<script th:src="@{/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<meta charset="ISO-8859-1">
<meta charset="ISO-8859-1">
<title>Certificate requests</title>
</head>
<body>
	<div class="container">
		<div>
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{home}">
							Home </a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{certificate}">
						Certificates </a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{certificate_request}">
						Requests </a></li>
				</ul>
			</nav>
		</div>
	</div>

	<h1 class="text-center m-2">List of certificate requests</h1>
	<table class="table table-hover table-dark">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Common Name</th>
				<th scope="col">Surname</th>
				<th scope="col">Given Name</th>
				<th scope="col">Organization</th>
				<th scope="col">Organization Unit</th>
				<th scope="col">Country</th>
				<th scope="col">Email</th>
				<th scope="col">UID</th>
				<th scope="col">ACCEPT</th>
				<th scope="col">REJECT</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="request: ${requestsList}">
				<td></td>
				<td th:id="commonName" th:text="${request.commonName}"></td>
				<td th:id="surname" th:text="${request.surname}"></td>
				<td th:id="givenName" th:text="${request.givenName}"></td>
				<td th:id="organization" th:text="${request.organization}"></td>
				<td th:id="organizationUnit" th:text="${request.organizationUnit}"></td>
				<td th:id="country" th:text="${request.country}"></td>
				<td th:id="email" th:text="${request.email}"></td>
				<td th:id="uid" th:text="${request.uid}"></td>
				<td> <button th:id="${request.uid}" class="btn btn-success js-approve"> Accept </button></td>
				<td> <button th:id="${request.uid}" class="btn btn-danger js-delete"> Reject </button></td>
			</tr>
		</tbody>
	</table>
</body>
</html>