<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/bootstrap.min.css}">
<script th:src="@{/bootstrap.min.js}"></script>
<script th:src="@{/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div>
			<nav class="navbar navbar-expand w-100 bg-dark navbar-dark">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{home}">
							Home </a></li>
				</ul>
			</nav>
		</div>

		<form id="js-add-certificate-request">
			<div class="form-row mt-3">
				<div class="form-group col-md-6">
					<label for="common_name">Common Name</label> <input type="text"
						class="form-control" id="common_name"
						placeholder="Enter Common Name">
				</div>
				<div class="form-group col-md-6">
					<label for="country">Country</label> <input type="text"
						class="form-control" id="country" placeholder="Enter country">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="email">Email</label> <input type="email"
					class="form-control" id="email" placeholder="Enter email address">
			</div>
			<div class="form-group col-md-6">
				<label for="givenName">Given Name</label> <input type="text"
					class="form-control" id="givenName" placeholder="Enter Given Name">
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="organization">Organization</label> <input type="text"
						class="form-control" id="organization"
						placeholder="Enter an organization">
				</div>
				<div class="form-group col-md-6">
					<label for="organization_unit">Organization Unit</label> <input
						type="text" class="form-control" id="organization_unit"
						placeholder="Enter an organization unit">
				</div>
				<div class="form-group col-md-6">
					<label for="surname">Surname</label> <input type="text"
						class="form-control" id="surname" placeholder="Enter Surname">
				</div>
				<div class="form-group col-md-6">
					<label for="uid">Uid</label> <input type="text"
						class="form-control" id="uid" placeholder="Enter UID">
				</div>
			</div>
			<button type="submit"
				class="btn btn-primary mt-2 js-make-cert-request">Make
				request</button>
		</form>
	</div>
</body>
</html>